@charset "UTF-8";
@media screen and (max-width: 520px) {
  .wrap {
    overflow: hidden;
  }
  .header {
    height: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./img/main-SP.png");
    margin: 0;
    padding: 0;
  }
  .head-left {
    float: none;
    margin-top: 0;
    margin-left: 22px;
  }
  .head-right {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
  }
  .head-right:hover {
    opacity: 0.5;
    transition: 1s;
  }
  .head-info h3 {
    font-weight: normal;
    font-size: 20px;
    padding-top: 20px;
    margin: 0 auto;
    width: 80%;
  }
  .head-program {
    background-image: url("./img/main-title-SP.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 83.21%;
    margin: 23.3px auto 0;
  }
  .head-program h1 {
    color: black;
    font-size: 24px;
    text-align: center;
    padding-top: 70px;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 2.3px;
  }
  .white {
    white-space: normal;
  }
  .head-desc h2 {
    margin: 0 auto;
    font-size: 24px;
    width: 60%;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 1.6;
    margin-top: 90px;
  }
  .kokkipc {
    display: none;
  }
  .kokkisp {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  .school-wrap {
    height: 100%;
  }
  .school-wrap h2 {
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    font-weight: normal;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 81%;
    margin: 0 auto;
  }
  .school-cont {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .sc-cont {
    background-color: #3C3E6B;
    height: 273px;
    width: 100%;
    display: flex;
    color: white;
  }
  .academic {
    margin-bottom: 20px;
  }
  .academic img {
    width: 68px;
    height: 90px;
    margin: 93px 51.7px 90px 41px;
  }
  .academic p {
    margin: 60px 22.3px 30px 0;
    font-size: 18px;
    line-height: 1.5;
  }
  .money {
    margin-bottom: 20px;
  }
  .money img {
    margin: 64px 43.7px 0 34px;
    width: 82px;
    height: 88px;
  }
  .money p {
    margin: 30px 21.3px 20.5px 0;
    font-size: 16px;
    line-height: 1.5;
  }
  .pc {
    margin-bottom: 20px;
  }
  .pc img {
    width: 110px;
    height: 84px;
    margin: 76px 19px 0 25px;
  }
  .pc p {
    font-size: 18px;
    margin: 60px 15px 0 0;
    line-height: 1.5;
  }
  .english {
    margin-bottom: 20px;
  }
  .english img {
    width: 114px;
    height: 87px;
    margin: 101px 22.7px 85px 23px;
  }
  .english p {
    font-size: 16px;
    margin: 30px 10px 0 12px;
    line-height: 1.5;
  }
  .school-athe {
    background-image: url("./img/square-SP.png");
    background-repeat: no-repeat;
    background-size: 300px;
    margin: 0 auto;
    width: 300px;
  }
  .school-athe h3 {
    font-size: 18px;
    font-weight: normal;
    padding-top: 25px;
    width: 70%;
    margin-left: 30px;
    line-height: 1.5;
  }
  .school-athe p {
    font-size: 16px;
    width: 70%;
    margin-left: 30px;
    line-height: 1.5;
    padding-top: 5px;
  }
  .abroad-flow {
    height: 2500px;
    background-image: url("./img/clip.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .abroad-flow h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
    line-height: 1.5;
    padding-bottom: 50px;
  }
  .abroad-step {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .next {
    display: none;
  }
  .next-sp {
    display: block;
    height: 50px;
    width: 23%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .step {
    width: 90%;
  }
  .step h1 {
    display: flex;
  }
  .step-cont {
    background-color: white;
    color: black;
    height: 480px;
  }
  .step-cont p {
    font-size: 24px;
    line-height: 1.5;
    margin: 25px 37px 0;
  }
  .step-img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 80%;
    height: auto;
  }
  .step-two {
    height: 600px;
  }
  .step-three {
    height: 850px;
  }
  .it-lack {
    height: 475px;
    background-image: url("./img/it-lack.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
  }
  .it-lack h1 {
    padding-top: 30px;
    font-size: 28px;
    line-height: 1.5;
    width: 79.6%;
    margin: 0 auto;
    position: relative;
  }
  .it-lack h1:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -30px;
    /*線の上下位置*/
    display: inline-block;
    width: 40.9%;
    /*線の長さ*/
    height: 2px;
    /*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
    background-color: white;
    /*線の色*/
    border-radius: 2px;
    /*線の丸み*/
  }
  .it-lack h2 {
    padding-top: 75px;
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
  }
  .force-wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .f-img {
    position: absolute;
    left: 300px;
    z-index: -1;
  }
  .force-content {
    width: 81%;
    margin: 0 auto;
  }
  .force-top {
    position: relative;
  }
  .force-top h2 {
    padding-top: 70px;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
  }
  .force-top p {
    font-size: 28px;
    line-height: 1.5;
    padding-top: 40px;
  }
  .cource-btn {
    height: 100px;
    width: 75%;
    border-radius: 42.5px;
    background-color: #B22234;
    margin: 65px auto 55px;
  }
  .cource-btn a {
    display: block;
    padding: 20px 15px;
    border-radius: 42.5px;
    font-size: 18px;
    line-height: 1.5;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  .cource-btn p {
    font-size: 24px;
  }
  .immediately-force p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 60px;
  }
  .sy-desc {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 80px;
  }
  .sy-wrap {
    display: flex;
    justify-content: center;
  }
  .do-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 28px;
  }
  .do-img img {
    width: 35%;
    height: auto;
    margin-bottom: 41px;
  }
  .de-p {
    font-size: 18px;
  }
  .en-pc {
    display: none;
  }
  .en-sp {
    display: block;
    width: 300px;
    padding-bottom: 20px;
  }
  .en-img {
    position: absolute;
    top: 3700px;
    left: 350px;
  }
  .cource {
    height: 600px;
    background-color: #B22234;
    padding-top: 50px;
  }
  .co-btn {
    width: 79.6%;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    padding: 34.5px 0;
    border-radius: 50px;
    font-size: 32px;
    line-height: 0.9;
    color: #B22234;
    text-align: center;
  }
  .co-fee {
    background-color: #3C3E6B;
    border: 2px solid #fff;
    color: white;
    width: 95%;
    height: 98px;
    margin: 62px auto 0;
  }
  .co-fee h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35.1px;
  }
  .tax-none {
    font-size: 36px;
  }
  .tax-cont {
    font-size: 20px;
  }
  .tax-included {
    font-size: 16px;
  }
  .co-wrap {
    display: block;
    margin: 0 auto;
    width: 80.6%;
  }
  .co-wrap p {
    font-size: 24px;
    padding-top: 30px;
    color: white;
    text-align: left;
    line-height: 1.5;
  }
  .reason {
    height: 5400px;
    background-image: url("./img/reasons-SP.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .reason h2 {
    padding-top: 50px;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 75px;
  }
  .left-first {
    height: 1100px;
    width: 98.4%;
    margin: 0 auto;
  }
  .re-left h1 {
    font-size: 16px;
    align-self: center;
    line-height: 1;
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px 0;
    background: #A9ABCC;
    z-index: 1;
    width: 98%;
    color: #ffffff;
  }
  .re-left h1 :after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    /*ボーダーサイズ分マイナス*/
    width: 0;
    height: 0;
    border: none;
    border-left: solid 70px transparent;
    /*bodyのカラーと同じ色に*/
    border-top: solid 80px white;
    z-index: 2;
  }
  .re-left h1 span {
    font-size: 40px;
    line-height: 1.25;
    padding-right: 0;
  }
  .left-desc {
    padding-top: 38px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .left-desc img {
    width: 78.9%;
    height: auto;
    margin: 0 auto;
  }
  .left-desc p {
    display: flex;
    order: 2;
    font-size: 24px;
    line-height: 1.33;
    width: 69%;
    margin: 0 auto;
    padding-top: 68px;
  }
  .right-first {
    height: 1000px;
    width: 98%;
    margin: 0 auto;
  }
  .re-right h1 {
    font-size: 16px;
    text-align: right;
    line-height: 1.25;
    justify-content: flex-end;
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    background: #A9ABCC;
    z-index: 1;
    width: 93%;
    color: #ffffff;
    margin-left: 0;
  }
  .re-right h1 :before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    /*ボーダーサイズ分マイナス*/
    width: 0;
    height: 0;
    border: none;
    border-right: solid 70px transparent;
    /*bodyのカラーと同じ色に*/
    border-top: solid 80px white;
    z-index: 2;
  }
  .re-right h1 span {
    font-size: 40px;
    line-height: 1.25;
    padding-right: 20px;
  }
  .right-desc {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .right-desc img {
    width: 79.6%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .right-desc p {
    width: 79.2%;
    padding-top: 70.8px;
    font-size: 24px;
    line-height: 1.33;
    margin: 0 auto;
  }
  .left-second {
    height: auto;
    width: 98%;
    margin: 0 auto;
  }
  .right-second {
    height: 1100px;
    width: 98%;
    margin: 0 auto;
  }
  .re-small {
    font-size: 16px;
    margin: 0 auto;
    width: 81.5%;
    padding-top: 10px;
    line-height: 1.5;
  }
  .education {
    background-image: url("./img/clip-sp.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3C3E6B;
    width: 100%;
    background-position: center;
    background-position: 50%;
    position: relative;
  }
  .education::after {
    content: '';
    background-image: url("./img/repeat.png");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .education h3 {
    padding-top: 50px;
    font-size: 24px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 3;
  }
  .countrys {
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80.1%;
    position: relative;
    z-index: 3;
  }
  .co-name {
    text-align: center;
    color: white;
    position: relative;
    z-index: 3;
  }
  .co-name img {
    padding-bottom: 21.1px;
    position: relative;
    z-index: 3;
  }
  .co-name p {
    padding-bottom: 46.9px;
  }
  .trace {
    padding-top: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    font-size: 18px;
  }
  .trace img {
    padding-right: 27.3px;
    padding-top: 41.5px;
    position: relative;
    z-index: 3;
  }
  .ed-desc {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    background-color: white;
    margin-top: 77px;
    position: relative;
    z-index: 3;
  }
  .ed-desc h1 {
    font-size: 24px;
    line-height: 1.5;
    width: 77%;
    margin: 0 auto;
    padding-top: 41.4px;
    text-align: center;
    padding-bottom: 50px;
    position: relative;
    z-index: 3;
  }
  .ed-desc span {
    position: relative;
    z-index: 3;
  }
  .ed-desc p {
    font-size: 24px;
    line-height: 1.5;
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }
  .ed-caution {
    color: white;
    text-align: center;
    position: relative;
    z-index: 3;
  }
  .ed-caution h2 {
    font-size: 36px;
    line-height: 1.5;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    width: 396px;
    z-index: 3;
  }
  .ed-caution p {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 45.2px;
    width: 60.9%;
    height: 88px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }
  .contact {
    height: 100%;
  }
  .contact-head {
    background-color: #B22234;
    color: white;
    height: 300px;
    text-align: center;
  }
  .contact-head h1 {
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
    font-size: 38px;
    line-height: 1;
  }
  .contact-head p {
    width: 92%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
  }
  .triangle {
    width: 0;
    height: 0;
    border-top: 81px solid #B22234;
    border-right: 50vw solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 50vw solid transparent;
    box-sizing: border-box;
  }
  .form {
    width: 95%;
    margin: 0 auto;
  }
  .form h2 {
    padding-top: 22.6px;
    padding-bottom: 16.5px;
    font-size: 32px;
    line-height: 0.75;
    text-align: center;
  }
  .cont-form p {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 40px;
  }
  .cont-form textarea {
    width: 95%;
    height: 277px;
    background: #DADBED;
    border: none;
    margin: 0 auto;
  }
  .input-btn {
    border: none;
    width: 95%;
    height: 40px;
    background: #DADBED;
    font-size: 24px;
    margin: 0 auto;
  }
  .terms {
    display: block;
    width: 80.3%;
    font-size: 18px;
    padding-top: 40px;
    line-height: 1.5;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .terms a {
    color: #6BB1D6;
  }
  .checkbox {
    width: 20px;
    height: 22px;
    border: solid 3px #534A3C;
  }
  .check span {
    font-size: 14px;
    line-height: 0.75;
    padding-left: 20px;
  }
  .submit {
    display: block;
    padding: 19.9px 100px 20.1px;
    background-color: #B22234;
    display: block;
    border-radius: 42.5px;
    color: white;
    font-size: 24px;
    line-height: 1.125;
    border: none;
    margin: 60px auto 0;
  }
  .submit:hover {
    opacity: 0.5;
    transition: 1s;
  }
  .cont-tel {
    width: 98%;
    padding-top: 65px;
    margin: 0 auto;
  }
  .cont-tel p {
    text-align: center;
    display: block;
    padding-left: 33.4px;
    font-size: 32px;
  }
  .cont-tel h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #3C3E6B;
  }
  .cont-tel span {
    font-size: 24px;
  }
  .cont-tel {
    display: none;
  }
  .cont-tel-sp {
    display: block;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .small {
    height: 50px;
    background-color: #3C3E6B;
  }
  .small p {
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
}
